.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url('https://cdn-cm.freepik.com/resources/91377b80-c91c-4735-8de1-5ec3f122af56.jpg?token=exp=1734424424~hmac=e4d2682809ee2660f42e16d16ef4c7c18a3a7772feae09553c73e2259b45a749'); /* Replace with your background image URL */
  background-size:cover ;
  background-position: center;
  color: white;
}

.audio-player {
  margin-top: 400px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1ed760;
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}
